<div class="row">
    {{#each champions}}
    <div class="col-sm-6 col-md-2" id="colonnaCarta">
        <div class="card" style="width: 100%;" id="champ">
            <img class="card-img-top" name="champImage" src="https://image.freepik.com/icone-gratis/segno-piu-in-un-cerchio-nero_318-41856.jpg">
            <div class="card-body">
                <div class="row" id="rowbottoni">
                    <div class="col-md-12" id="yo">
                        <a href="#" class="btn btn-success" id="btnsmall" role="button">Aggiungi campione</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{#each this}}
        <div class="col-sm-6 col-md-2" id="colonnaCarta">
            <div class="card" style="width: 100%;" id="champ">
                <img class="card-img-top" name="champImage" src="{{this.imagePath}}">
                <div class="card-body">
                    <div class="row" name="rigaTitoloPrezzo">
                        <div class="col-sm-6 col-md-8" name="champName">
                            <h5 class="card-title" name="name"> {{this.name}}</h5>
                        </div>
                        <div class="col-sm-6 col-md-4" align="right" name="prezzo">
                            <div class="row" id="rowprezzo">
                                <div class="col-md-12" id="yo2">
                                    <img name="EB" width="15" height="18" src="https://i.imgur.com/YsdvMMg.png">
                                    <h5 name="price">{{this.price}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="rowbottoni">
                        <div class="col-md-12" id="yo">
                            <a href="/champions/{{this.name}}" id="btnsmall" class="btn btn-info">
                                <span>Info</span>
                            </a>
                            <a href="#" class="btn btn-warning" id="btnsmall" role="button">Modifica</a>
                            <a href="#" class="btn btn-danger" id="btnsmall" role="button">Elimina</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>