<h1>Aggiungi un campione</h1>
<form action="/admin/add/newChamp" method="post">
    <h2>Campione</h2>
    <div class="form-group">
        <label for="Nome">
            <span style="color:rgb(161, 118, 7)">Nome</span>
        </label>
        <input type="text" id="nameC" name="nameC" class="form-control">
    </div>
    <div class="form-group">
        <label for="Titolo">
            <span style="color:rgb(161, 118, 7)">Titolo</span>
        </label>
        <input type="text" id="titleC" name="titleC" class="form-control">
    </div>
    <div class="form-group">
        <label for="Ruolo">
            <span style="color:rgb(161, 118, 7)">Ruolo</span>
        </label>
        <input type="text" id="roleC" name="roleC" class="form-control">
    </div>
    <div class="form-group">
        <label for="Url ritratto">
            <span style="color:rgb(161, 118, 7)">Url ritratto</span>
        </label>
        <input type="text" id="imagePathC" name="imagePathC" class="form-control">
    </div>
    <div class="form-group">
        <label for="Descrizione">
            <span style="color:rgb(161, 118, 7)">Descrizione</span>
        </label>
        <input type="text" id="descriptionC" name="descriptionC" class="form-control">
    </div>
    <div class="form-group">
        <label for="Prezzo">
            <span style="color:rgb(161, 118, 7)">Prezzo</span>
        </label>
        <input type="number" id="priceC" name="priceC" class="form-control"> 
    </div>
    <h2>Abilità</h2>
    <h3>Passiva</h3>
    <div class="form-group">
        <label for="TitoloP">
            <span style="color:rgb(161, 118, 7)">Titolo</span>
        </label>
        <input type="text" id="titleP" name="titleP" class="form-control">
    </div>
    <div class="form-group">
        <label for="DescrizioneP">
            <span style="color:rgb(161, 118, 7)">Descrizione</span>
        </label>
        <input type="text" id="descriptionP" name="descriptionP" class="form-control">
    </div>
    <div class="form-group">
        <label for="IconaP">
            <span style="color:rgb(161, 118, 7)">Url icona</span>
        </label>
        <input type="text" id="imageSrcP" name="imageSrcP" class="form-control">
    </div>
    <h3>Q</h3>
    <div class="form-group">
        <label for="TitoloQ">
            <span style="color:rgb(161, 118, 7)">Titolo</span>
        </label>
        <input type="text" id="titleQ" name="titleQ" class="form-control">
    </div>
    <div class="form-group">
        <label for="DescrizioneQ">
            <span style="color:rgb(161, 118, 7)">Descrizione</span>
        </label>
        <input type="text" id="descriptionQ" name="descriptionQ" class="form-control">
    </div>
    <div class="form-group">
        <label for="IconaQ">
            <span style="color:rgb(161, 118, 7)">Url icona</span>
        </label>
        <input type="text" id="imageSrcQ" name="imageSrcQ" class="form-control">
    </div>
    <h3>W</h3>
    <div class="form-group">
        <label for="TitoloW">
            <span style="color:rgb(161, 118, 7)">Titolo</span>
        </label>
        <input type="text" id="titleW" name="titleW" class="form-control">
    </div>
    <div class="form-group">
        <label for="DescrizioneW">
            <span style="color:rgb(161, 118, 7)">Descrizione</span>
        </label>
        <input type="text" id="descriptionW" name="descriptionW" class="form-control">
    </div>
    <div class="form-group">
        <label for="IconaW">
            <span style="color:rgb(161, 118, 7)">Url icona</span>
        </label>
        <input type="text" id="imageSrcW" name="imageSrcW" class="form-control">
    </div>
    <h3>E</h3>
    <div class="form-group">
        <label for="TitoloE">
            <span style="color:rgb(161, 118, 7)">Titolo</span>
        </label>
        <input type="text" id="titleE" name="titleE" class="form-control">
    </div>
    <div class="form-group">
        <label for="DescrizioneE">
            <span style="color:rgb(161, 118, 7)">Descrizione</span>
        </label>
        <input type="text" id="descriptionE" name="descriptionE" class="form-control">
    </div>
    <div class="form-group">
        <label for="IconaE">
            <span style="color:rgb(161, 118, 7)">Url icona</span>
        </label>
        <input type="text" id="imageSrcE" name="imageSrcE" class="form-control">
    </div>
    <h3>R</h3>
    <div class="form-group">
        <label for="TitoloR">
            <span style="color:rgb(161, 118, 7)">Titolo</span>
        </label>
        <input type="text" id="titleR" name="titleR" class="form-control">
    </div>
    <div class="form-group">
        <label for="DescrizioneR">
            <span style="color:rgb(161, 118, 7)">Descrizione</span>
        </label>
        <input type="text" id="descriptionR" name="descriptionR" class="form-control">
    </div>
    <div class="form-group">
        <label for="IconaR">
            <span style="color:rgb(161, 118, 7)">Url icona</span>
        </label>
        <input type="text" id="imageSrcR" name="imageSrcR" class="form-control">
    </div>
    <div>
        <button class="btn btn-success" type="submit">Aggiungi campione</button>
    </div>
</form>