
  <footer class="footer">
    <div class="row" id="footer">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <img style=" opacity: 0.5" src="http://www.pngmart.com/files/3/League-of-Legends-Logo-PNG-Image.png" width="150" height="50"
              alt="">
            <img style=" opacity: 0.5" src="https://www.riotgames.com/darkroom/800/70f2906ebd772c71068f5656ad1b2ff3:0cf3b30ce7aaca9c0642728b3ab1030d/blank-diagram-page-3.png"
              width="150" height="70" alt="">
          </div>
          <div class="col-md-6">
            <h6 style="font-size: 16px"> League Shop ispirato all'universo League of Legends.</h6>
            <p style="font-size: 12px">Made by Federico Valeri, Francesco Casoni, Melania Fattorini in Camerino</p>
            <p style="opacity: 0.5">
              <i class="far fa-copyright"></i> 2018 - Università di Camerino, Italy
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-2">
        <h6 style="opacity: 0.5">PROJECT</h6>
        <ul class="footer-ul">
          <li>
            <a style="color:snow" href="https://github.com/FedericoValeri/League-Shop" target="_blank">
              <i class="fab fa-github"></i> GitHub Project</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 style="opacity: 0.5">CONTACT</h6>
        <ul class="footer-ul">
          <li>
            <a style="color:snow; font-size:14px;" href="mailto:federico.valeri@studenti.unicam.it?subject=Hi developer!">
              <i class="fas fa-envelope"></i> federico.valeri@studenti.unicam.it</a>
          </li>
          <li>
            <a style="color:snow; font-size:14px;" href="mailto:francesco01.casoni@studenti.unicam.it?subject=Hi developer!">
              <i class="fas fa-envelope"></i> francesco01.casoni@studenti.unicam.it</a>
          </li>
          <li>
            <a style="color:snow; font-size:14px;" href="mailto:melania:fattorini@studenti.unicam.it?subject=Hi developer!">
              <i class="fas fa-envelope"></i> melania.fattorini@studenti.unicam.it</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 style="opacity: 0.5">COMPANY</h6>
        <ul class="footer-ul">
          <li>
            <a style="color:snow" href="http://www.unicam.it/" target="_blank">
              <i class="fas fa-university"></i> Unicam</a>
          </li>

          <li>
            <a style="color:snow" href="https://www.facebook.com/universitacamerino/" target="_blank">
              <i class="fab fa-facebook-square"></i> Facebook page</a>
          </li>

        </ul>
      </div>
    </div>
  </footer>