body {
    background-color: rgb(0, 0, 0);
    background-image: url("http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
}

[id=footer] {
    text-align: center;
}

[id=filtra] {
    font-size: 0px;
}

[id=ordina] {
    font-size: 0%;
}

[id=dropOrdina] {
    margin-top: 8px;
}

[id=dropFiltra] {
    margin-top: 30px;
}

[id=barrasopra] {
    margin-top: -30px;
    margin-bottom: -30px;
}

.carte {
    padding-right: 6%;
    padding-left: 6%;
}

.colonna-carta {
    width: 25%;
    padding: 1%;
    padding-bottom: 2%;
}

.card {
    box-shadow: none;
}

.card-title {
    font-size: 22px;
}

.price-card {
    font-size: 20px;
}

.eb-icon {
    width: 15px;
    height: 20px;
}

.titleHome {
    font-size: 0px;
    margin: 2%;
}

.informazioni {
    width: 98%;
    padding: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
    font-size: 14px;
}

.aggiungi {
    width: 98%;
    padding: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 14px;
}


/*CHAMP BIO*/

[id=descriptionBio] {
    width: 92%;
    margin-top: 10px;
}

[id=colonnaRitrattoBio] {
    background-color: #29292bce;
}

[id=colonnaDescBio] {
    background-color: #29292bce;
}

[id=bio] {
    background: none;
    border-style: hidden;
}

[id=inBio] {
    background-color: #29292bce;
    padding: 20px;
    border-style: double;
    border-bottom-style: hidden;
}

[id=ritrattoDesc] {
    border-style: double;
    border-top-style: hidden;
}

[id=rowAbilità] {
    margin-top: 30px;
    margin-bottom: 30px;
}

[id=abilità] {
    display: inline;
    margin: auto;
    font-size: 30px;
}

[id=titleBio] {
    font-size: 35px;
}

[id=iconRoleBio] {
    width: 90px;
    height: 90px;
    margin-top: 6px;
}

[id=imageSkillBioSmart] {
    width: 0%;
    height: 0%;
}

[id=nameBio] {
    margin-left: auto;
    margin-right: auto;
}

[id=titleBio] {
    margin-left: auto;
    margin-right: auto;
}

[id=imageBio] {
    width: 100%;
    height: auto;
}

[id=rowDescBio] {
    margin-top: 10%;
    margin-bottom: auto;
    padding: 0%;
}

[id=nameBio] {
    font-size: 70px;
}

[id=colonnaNomeTitolo] {
    padding-left: 0%;
    padding-right: 5%;
}

[name=rowSkill] {
    padding-right: 8%;
}


/*CARRELLO*/

[id=carrello] {
    color: snow;
}

[id=contenitoreCheck] {
    padding-left: 100px;
    padding-right: 100px;
}


/*PROFILO UTENTE*/

[id=containerProfile] {
    color: rgba(169, 141, 70, 0.809);
    background-color: #29292bce;
    padding: 20px;
}

[id=myChampions] {
    columns: 2;
}

[id=prezzoChamp] {
    float: right;
}

[id=rimuoviChamp] {
    float: left;
}

[id=prezzoChampTransazione] {
    font-size: 20px;
}

[id=dataTransizione] {
    font-size: 17px;
}

[id=pannelloTransazioni] {
    width: 95%;
}

[id=totaleTransazione] {
    font-size: 25px;
    margin-left: 5px;
}

[id=imgChampProfile] {
    width: 100px;
    height: 100px;
}

[id=nameChampProfile] {
    font-size: 20px;
    margin-bottom: -10px;
    margin-left: 5px;
}

[id=titleChampProfile] {
    font-size: 0%;
}

[id=roleChampProfile] {
    margin-top: 0%;
    font-size: 15px;
    margin-left: 5px;
}

[id=buttonInfoProfile] {
    font-size: 12px;
    padding: 5px;
    margin-left: 5px;
}

[id=beforeSkills] {
    height: 20px;
    margin-top: -25px;
    margin-bottom: -10px;
    border-style: solid;
    border-color: rgba(169, 141, 70, 0.809);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

[id=afterTitle] {
    border-width: 0%;
}

[id=betweenSkills] {
    height: 20px;
    margin-bottom: -10px;
    border-style: solid;
    border-color: rgba(169, 141, 70, 0.809);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

[id=betweenSkills]:before {
    display: block;
    content: "";
    height: 20px;
    margin-top: -31px;
    border-style: solid;
    border-color: rgba(169, 141, 70, 0.809);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


/*fine*/


/*search bar home page*/

.container-4 {
    overflow: hidden;
    width: 315px;
    vertical-align: middle;
    white-space: nowrap;
    float: right;
}

.container-4 input#search {
    margin-top: 45px;
    width: 300px;
    height: 40px;
    background: #29292b;
    background-image: url(https://i.imgur.com/ETnqJ53.png);
    background-size: 18px;
    background-position: 15px 5px;
    background-repeat: no-repeat;
    color: rgba(169, 141, 70, 0.809);
    font-weight: 500;
    opacity: 70%;
    border: none;
    font-size: 23px;
    float: right;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 6px 45px;
    margin-bottom: 15px;
}

[id=boxCerca] {
    float: right;
    padding: 0%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgb(102, 79, 6);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: rgba(169, 141, 70, 0.809);
}

.container-4 input#search::-webkit-input-placeholder {
    color: rgba(169, 141, 70, 0.809);
}

.container-4 button.icon {
    display: none;
}