body {
    background-color: rgb(0, 2, 29);
    background-image: url("https://i.imgur.com/Lnuuypo.jpg");
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
}

.carte {
    padding-right: 6%;
    padding-left: 6%;
}

.colonna-carta {
    width: 50%;
    padding: 1%;
    padding-bottom: 2%;
}

.card {
    box-shadow: none;
}

.card-title {
    font-size: 23px;
}

.price-card {
    font-size: 22px;
}

.eb-icon {
    width: 15px;
    height: 20px;
    margin-top: 2px;
}

.titleHome {
    font-size: 0px;
    margin: 2%;
}

.informazioni {
    width: 98%;
    padding: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
}

.aggiungi {
    width: 98%;
    padding: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}


/*PROFILO UTENTE*/

[id=myChampions] {
    columns: 1;
    padding: 0%;
}

[id=imgChampProfile] {
    width: 120px;
    height: 120px;
}

[id=nameChampProfile] {
    font-size: 25px;
    margin-bottom: -5px;
    margin-left: 5px;
}

[id=titleChampProfile] {
    font-size: 0%;
}

[id=roleChampProfile] {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
}

[id=prezzoChampTransazione] {
    font-size: 20px;
    margin-right: -7px;
}

[id=dataTransizione] {
    font-size: 15px;
}

[id=nameChampTransazione] {
    margin-left: -7px;
    font-size: 17px;
}

[id=pannelloTransazioni] {
    width: 105%;
    margin-left: -13px;
}

[id=listaTransazioni] {
    padding-left: 5%;
    margin-top: -10px;
}

[id=totaleTransazione] {
    font-size: 20px;
    margin-left: 5px;
}


/*CHAMP BIO*/

[id=iconRoleBio] {
    width: 90px;
    height: 90px;
    margin-top: 6px;
}

[id=nameBio] {
    margin-left: auto;
    margin-right: auto;
}

[id=titleBio] {
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
}

[id=imageBio] {
    width: 100%;
    height: 81%;
}

[id=rowDescBio] {
    width: 98%;
    margin: auto;
    margin-top: -5px;
    margin-bottom: 60px;
}

[id=nameBio] {
    font-size: 55px;
    margin: auto;
}

[id=ritrattoDesc] {
    width: 100%;
}

[id=colonnaNomeTitolo] {
    padding-left: 0%;
    padding-right: 0%;
}

[name=rowSkill] {
    padding-right: 8%;
    padding-left: 8%;
}

[id=imageSkillBioSmart] {
    width: 100px;
    height: 100px;
}

[id=bio] {}


/*search bar home page*/

.container-4 {
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search {
    width: 100%;
    height: 40px;
    background: #29292b;
    background-image: url(https://i.imgur.com/ETnqJ53.png);
    background-size: 18px;
    background-position: 15px 5px;
    background-repeat: no-repeat;
    color: rgba(169, 141, 70, 0.809);
    font-weight: 500;
    opacity: 70%;
    border: none;
    font-size: 23px;
    float: left;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 6px 45px;
    margin-bottom: 15px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: rgba(169, 141, 70, 0.809);
}

.container-4 button.icon {
    display: none;
}