@media only screen and (max-width: 576px) {
    body {
        background-image: none;
        background-color: #000000;
    }
    .carte {
        padding-right: 6%;
        padding-left: 6%;
    }
    .colonna-carta {
        width: 50%;
        padding: 1%;
        padding-bottom: 2%;
    }
    .card {
        box-shadow: none;
    }
    .card-title {
        font-size: 25px;
    }
    .price-card {
        font-size: 22px;
    }
    .eb-icon {
        width: 15px;
        height: 20px;
    }
    .titleHome {
        font-size: 0px;
        margin: 2%;
    }
    .informazioni {
        width: 98%;
        padding: 0%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-bottom: 2%;
        margin-right: 1%;
        margin-left: 1%;
    }
    .aggiungi {
        width: 98%;
        padding: 0%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-right: 1%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
}