body {
    background-color: #ff0000;
    background-image: none;
}

[id=barrasopra] {
    margin-top: -30px;
    margin-bottom: -30px;
}

.carte {
    padding-right: 6%;
    padding-left: 6%;
}

.colonna-carta {
    width: 25%;
    padding: 1%;
    padding-bottom: 2%;
}

.card {
    box-shadow: none;
}

.card-title {
    font-size: 22px;
}

.price-card {
    font-size: 20px;
}

.eb-icon {
    width: 15px;
    height: 20px;
}

.titleHome {
    font-size: 0px;
    margin: 2%;
}

.informazioni {
    width: 98%;
    padding: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
    font-size: 14px;
}

.aggiungi {
    width: 98%;
    padding: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 14px;
}


/*CHAMP BIO*/

[id=titleBio] {
    font-size: 35px;
}

[id=iconRoleBio] {
    width: 90px;
    height: 90px;
    margin-top: 6px;
}

[id=imageSkillBioSmart] {
    width: 0%;
    height: 0%;
}

[id=nameBio] {
    margin-left: auto;
    margin-right: auto;
}

[id=titleBio] {
    margin-left: auto;
    margin-right: auto;
}

[id=imageBio] {
    width: 100%;
    height: 81%;
}

[id=rowDescBio] {
    margin-top: 10%;
    ;
    margin-bottom: auto;
}

[id=nameBio] {
    font-size: 70px;
}

[id=colonnaNomeTitolo] {
    padding-left: 0%;
    padding-right: 5%;
}

[name=rowSkill] {
    padding-right: 8%;
}

[id=bio] {
    background-color: rgb(255, 238, 226);
}


/*PROFILO UTENTE*/

[id=myChampions] {
    columns: 2;
}

[id=prezzoChampTransazione] {
    font-size: 20px;
}

[id=dataTransizione] {
    font-size: 17px;
}

[id=pannelloTransazioni] {
    width: 95%;
}

[id=totaleTransazione] {
    font-size: 25px;
    margin-left: 5px;
}

[id=imgChampProfile] {
    width: 100px;
    height: 100px;
}

[id=nameChampProfile] {
    font-size: 20px;
    margin-bottom: -10px;
    margin-left: 5px;
}

[id=titleChampProfile] {
    font-size: 0%;
}

[id=roleChampProfile] {
    margin-top: 0%;
    font-size: 15px;
    margin-left: 5px;
}

[id=buttonInfoProfile] {
    font-size: 12px;
    padding: 5px;
    margin-left: 5px;
}


/*fine*/


/*search bar home page*/

.container-4 {
    overflow: hidden;
    width: 400px;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search {
    margin-top: 45px;
    width: 400px;
    height: 40px;
    background: #29292b;
    background-image: url(https://i.imgur.com/ETnqJ53.png);
    background-size: 18px;
    background-position: 15px 5px;
    background-repeat: no-repeat;
    color: rgba(169, 141, 70, 0.809);
    font-weight: 500;
    opacity: 70%;
    border: none;
    font-size: 23px;
    float: left;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 6px 45px;
    margin-bottom: 15px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: rgba(169, 141, 70, 0.809);
}

.container-4 button.icon {
    display: none;
}