body {
    background-color: black;
    background-image: url("http://cdn.leagueoflegends.com/lolkit/1.1.6/resources/images/bg-default.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

[name=EB] {
    margin-top: -5px;
    margin-left: 3px;
}

.thumbnail .description {
    color: rgba(56, 51, 51, 0.918);
    margin-top: 0px;
    margin-bottom: 30px;
}

.thumbnail {
    background-color: rgba(255, 255, 255, 0.775);
}

[id=champ] {
    border-width: 0px;
    padding: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

[name=champImage] {
    width: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

[name=rigaTitoloPrezzo] {
    margin-top: -10px;
    margin-left: -10px;
}

[name=titleHome] {
    margin-top: 7px;
    margin-bottom: 20px;
    margin-left: -0px;
    font-size: 24px;
}

[name=price] {
    color: rgb(37, 96, 204);
}

[name=main-container] {
    width: 75%;
}

[id=champBio] {
    color: rgb(1, 3, 5)
}

[name=prezzo] {
    padding-left: 0px;
    padding-right: 0px;
}

[name=champName] {
    padding-right: 0px;
}

[name=ordinaPer] {
    font-size: 16px;
    color: rgb(172, 169, 169);
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #29292b;
}

[name=colonna3] {
    padding-right: 0px;
}

[name=caret] {
    margin-left: 80px;
}

[id=colonnaCarta] {
    padding-bottom: 30px;
}


/*search bar home page*/

.container-4 {
    overflow: hidden;
    width: 450px;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search {
    width: 450px;
    height: 65px;
    background: #29292b;
    opacity: 70%;
    border: none;
    font-size: 20pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: rgb(172, 169, 169);
}

.container-4 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

.container-4 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-4 button.icon {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #1f1501;
    height: 65px;
    width: 65px;
    color: #d1d6db;
    opacity: 0;
    font-size: 20pt;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: -65px;
}

.container-4:hover button.icon:hover {
    background: white;
}

[name="nameBio"] {
    font-size: 75px;
}

[id="colonnaDestraChampBio"] {
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
}

[id=bio] {
    /*background-color: #fff;*/
    background-image: url("http://www.leonardodavincimuseo.com/wp-content/uploads/2016/07/pergamena-sfondo-sito-1.jpg");
}

[id="colonnaSinistraChampBio"] {
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
}

[id="roleBio"] {
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}

[id="imageSkill"] {
    margin-top: 10px;
}

[id="nameBio"] {
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
}

[id="rigaSkill"] {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

[name="titleBio"] {
    font-size: 50px;
}

[id="roleIcon"] {
    margin-top: 25px;
}

[id="champBioImage"] {
    margin-top: 35px;
}


/*bottone Informazioni*/

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(26, 20, 9);
    border: none;
    color: rgb(240, 216, 178);
    text-align: center;
    font-size: 16px;
    padding: 6px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


/*login page*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #1f1c1c;
    color: #fff;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #1f1c1c;
    color: #fff;
}

.account-wall {
    margin-top: 5px;
    padding: 10px 0px 20px 0px;
    background-color: #000000;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color: rgb(138, 96, 5);
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 300px;
    height: 165px;
    margin: 10px auto 10px;
    display: block;
}

.login-button {
    margin-top: 40px;
    margin-bottom: 20px;
}

[name="login-button"] {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    color: #d1d6db;
    background-color: #504c3e;
}

[name="login"] {
    background-color: #000000;
}