body {
    background-color: rgb(0, 2, 29);
    background-image: url("https://i.imgur.com/Lnuuypo.jpg");
    background-attachment: fixed;
    background-position: top;
    background-size: contain;
    min-height: 750px;
}

.carte {
    padding-right: 6%;
    padding-left: 6%;
}

.colonna-carta {
    width: 50%;
    padding: 1%;
    padding-bottom: 2%;
}

.card {
    box-shadow: none;
}

.card-title {
    font-size: 23px;
}

.price-card {
    font-size: 22px;
}

.eb-icon {
    width: 15px;
    height: 20px;
    margin-top: 2px;
}

.titleHome {
    font-size: 0px;
    margin: 2%;
}

.informazioni {
    width: 98%;
    padding: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-left: 1%;
}

.aggiungi {
    width: 98%;
    padding: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

[id=blueEssenceHeader] {
    font-size: 0px;
}

[id=filtra] {
    color: rgba(169, 141, 70, 0.809);
}

[id=barrasopra] {
    margin-bottom: -20px;
}

[id=ordina] {
    color: rgba(169, 141, 70, 0.809);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgb(102, 79, 6);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: rgba(169, 141, 70, 0.809);
}

[id=vuotoBarrasopra] {
    width: 8.33%;
}


/*PROFILO UTENTE*/

[id=myChampions] {
    columns: 1;
    padding: 0%;
}

[id=imgChampProfile] {
    width: 120px;
    height: 120px;
}

[id=nameChampProfile] {
    font-size: 25px;
    margin-bottom: -5px;
    margin-left: 5px;
}

[id=titleChampProfile] {
    font-size: 0%;
}

[id=roleChampProfile] {
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
}

[id=prezzoChampTransazione] {
    font-size: 20px;
    margin-right: -7px;
}

[id=dataTransizione] {
    font-size: 15px;
}

[id=nameChampTransazione] {
    margin-left: -7px;
    font-size: 17px;
}

[id=pannelloTransazioni] {
    width: 105%;
    margin-left: -13px;
}

[id=listaTransazioni] {
    padding-left: 5%;
    margin-top: -10px;
}

[id=totaleTransazione] {
    font-size: 20px;
    margin-left: 5px;
}


/*CHAMP BIO*/

[id=bio] {
    color: rgba(169, 141, 70, 0.809);
    background-color: #29292b0e;
    width: 100%;
    margin: auto;
    padding: 0px;
    padding-top: 0%;
}

[id=colonnaRitrattoBio] {
    margin: auto;
    margin-top: -15px;
}

[id=colonnaDescBio] {
    padding: 0%;
    align-content: center;
    margin: auto;
    width: 100%;
    margin-top: -10px;
}

[id=iconRoleBio] {
    width: 90px;
    height: 90px;
    margin-top: -5px;
}

[id=nameBio] {
    margin-left: auto;
    margin-right: auto;
}

[id=titleBio] {
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
}

[id=imageBio] {
    width: 100%;
    height: 100%;
}

[id=rowDescBio] {
    align-content: center;
    width: 100%;
    margin: auto;
    margin-top: -5px;
    margin-bottom: 60px;
}

[id=descriptionBio] {
    text-align: center;
}

[id=nameBio] {
    font-size: 55px;
    margin: auto;
}

[id=ritrattoDesc] {
    width: 100%;
    margin: 0%;
}

[id=colonnaNomeTitolo] {
    margin-top: 15px;
    padding-left: 0%;
    padding-right: 0%;
}

[id=beforeSkills] {
    height: 20px;
    margin-top: -25px;
    margin-bottom: -10px;
    border-style: solid;
    border-color: rgba(169, 141, 70, 0.809);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

[id=inBio] {
    padding: 0%;
}

[id=afterTitle] {
    height: 20px;
    width: 96%;
    margin-bottom: -10px;
    border-style: solid;
    border-color: rgba(169, 141, 70, 0.809);
    border-width: 1px 0 0 0;
}

[id=betweenSkills] {
    height: 20px;
    margin-bottom: -10px;
    border-style: solid;
    border-color: rgba(169, 141, 70, 0.809);
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

[id=betweenSkills]:before {
    display: block;
    content: "";
    height: 20px;
    margin-top: -31px;
    border-style: solid;
    border-color: rgba(169, 141, 70, 0.809);
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

[name=rowSkill] {
    padding: 0%;
    padding-right: 5%;
    padding-left: 5%;
    min-height: 0%;
}

[id=letterTitleBio] {
    display: inline;
    text-align: center;
    margin: auto;
    margin-bottom: 4px;
}

[id=descSkillBio] {
    margin: auto;
    text-align: center;
}

[name=rowImageSkill] {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 0px;
}

[id=contenitoreSkill] {
    margin-top: 0px;
}

[id=rowAbilità] {
    margin-top: 30px;
    margin-bottom: 30px;
}

[id=abilità] {
    display: inline;
    margin: auto;
    font-size: 30px;
}


/*search bar home page*/

.container-4 {
    margin: 0%;
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search {
    width: 100%;
    height: 40px;
    background: #29292b;
    background-image: url(https://i.imgur.com/ETnqJ53.png);
    background-size: 18px;
    background-position: 15px 5px;
    background-repeat: no-repeat;
    color: rgba(169, 141, 70, 0.809);
    font-weight: 500;
    opacity: 70%;
    border: none;
    font-size: 23px;
    float: left;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 6px 45px;
    margin-bottom: 15px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: rgba(169, 141, 70, 0.809);
}

.container-4 button.icon {
    display: none;
}