<br>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-4 col-sm-offset-3">
        <h1>Riepilogo</h1>
        <h4>Totale: {{total}} EB</h4>

        <ul class="list-group">
            {{#each champions}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                        <img width="120" height="120" src="{{this.item.imagePath}}"></img>
                    </div>
                    <div class="col-sm-6 col-md-3  col-md-offset-3 col-sm-offset-3">
                        <strong>{{this.item.name}}</strong>
                    </div>
                    <div class="col-sm-6 col-md-3  col-md-offset-3 col-sm-offset-3">
                        <span style="color:rgb(26, 198, 250);font-weight:bold">{{this.price}} EB</span>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
        <hr>
        <form action="/checkout" method="post" id="checkout-form">
            <button type="submit" class="btn btn-success">Buy now</button>
        </form>
    </div>
</div>
